# Dependencies
/node_modules

# Database
products.db

# WhatsApp Session Data (Sangat Penting untuk Keamanan)
/baileys_auth_info

# Log File
npm-debug.log*

# Generated QR Codes
qr.png
qr.txt
pairing-code.txt

# Chat History
recent_chats.json

# Package Lock
package-lock.json